.google
{
	display: flex;
	justify-content: center;
}

a 
{
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a
{
	color: black
}
.nav
{
	display:flex;
	justify-content: flex-end;
	padding: 10px;
	padding-right: 
}

.searchbar
{
	display:flex;
	justify-content: center;
	padding-top: 10px;
}


.France
{
	display: flex;
	justify-content: left
	font-size: 13px;
	background-color: lightgrey;
	padding-left: 10px;
}

.button
{
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 10px;


}

.Anglais
{
	display: flex;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 200px;
}

.footer
{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: lightgrey ;
	padding-left: 10px;
	padding-bottom: 10px;
}
